.nav-container {
    font-family: 'EB Garamond', serif;
    font-size: xx-large;
    color: green;
}

.footer-container {
    background-color: #9ba6a5;
    /* #819298; */
}

.mega-menu {
    background-color: #A3B4A1 !important;
}
.text {
    font-family: 'EB Garamond', serif;
}